* {
  font-family: Arial, Roboto, sans-serif;
  font-size: 24px;
  font-weight: 500;
  box-sizing: border-box;
}

main {
    align-items: center;
    margin: 10% 10%;
}

.block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  border: 1px solid black;
  margin-bottom: 50px;
  padding: 20px;
  max-width: 100%;
}

.button, .counter {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  text-align: center;
  text-transform: capitalize;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
