* {
    font-family: Arial, Roboto, sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

.table td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

textarea {
    width: 100%;
}

button {
    border: none;
    padding: 5px;
    cursor: pointer;
    color: #fff;
}

.save-btn {
    background-color: #4CAF50;
}

.cancel-btn {
    background-color: #f44336;
}
